terraform {
  backend "s3" {
    bucket = "{{ aws_state_bucket }}"
    key    = "terraform.state"
    region = "{{ aws_region }}"
    encrypt = true
    acl = "private"
    dynamodb_table = "{{ aws_state_dynamo }}"
  }
}
